//colors
$white:#ffffff;
$border:#c2c2c2;
$main-color:#be0600;
$selected:#8a1212;
$black:black;
$btn-hover:#ffb901;
$btn-active:#f25022;
$dark:#110825;
$light:rgb(221, 218, 218);
$hover:rgb(163, 25, 1);
$red:#861703;
$facebook:#4267B2;
$twitter:#1DA1F2;
$instagram:#f6b2b2;
$primary-color:#00005c;
$black:#233645;
$grey:#666666;
$nav-color:#333333;
$border-color:rgba(0, 0, 0, 0.04);
$footer-bg:#001d4c ;
$footer-color:#96aac1;
$firstColor: #666666;
$secondColor:#ffffff;
$thirdColor:rgba(30,190,182,1);
$gray-color:#f7f7f7