.book-desk {
  background-color: transparent;
  height: 300px;
  perspective: 1000;
  transform: perspective(1000px);
  margin-bottom: 50px;
  padding: 0px 25px !important;

  .book {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    a {
      color: $dark !important;
    }
    border-radius: 14px;
    box-shadow: 0 0px 28px rgba(0, 0, 0, 0.3), 0 6px 10px rgba(0, 0, 0, 0.3);

    .book-img {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 14px;
      z-index: 0;
      border-radius: 14px;

      img {
        width: 100%;
        height: 100%;
        transition: ease 0.4s;
        border-radius: 14px;
      }
      .book-price {
        text-transform: uppercase;
        border-radius: 50%;
        position: absolute;
        height: 40px;
        bottom: 7px;
        right: 7px;
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        padding: 7px 16px 8px 13px;
        z-index: 1;
        background-color: $red;
        color: $light;
      }
    }
    .book-content {
      background-color: $light;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform: rotateY(180deg);
      z-index: 1;
      border-radius: 14px;
      font-weight: 500;
      .book-content-head {
        padding: 10px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: ease 0.4s;
        i {
          cursor: pointer;
          font-size: 24px;
          transition: ease 0.4s;
          color: rgb(128, 128, 128);
          &:hover {
            color: $hover;
            transition: ease 0.4s;
          }
        }
      }
      .book-content-body {
        padding: 0px 10px;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .book-name {
          padding-top: 15px;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
        }
        .book-author {
          font-weight: 500;
          font-size: 13px;
        }
      }
      .book-content-footer {
        position: absolute;
        width: 100%;
        bottom: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        z-index: 2;
        .book-watch {
          text-align: center;
          font-weight: 700;
          font-size: 14px;
          z-index: 1;
          background-color: $red;
          padding: 3px 6px;
          border-radius: 32px;
          a {
            color: $light !important;
          }
        }
        .book-saler-img {
          display: flex;
          justify-content: center;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px $light solid;
            object-fit: cover;
          }
        }
      }
    }
  }
  &:hover {
    .book {
      transform: rotateY(180deg);
    }
  }
  @media only screen and (max-width: 1200px) {
    padding: 0px 15px !important;
    margin-bottom: 30px !important;
  }
  @media only screen and (max-width: 992px) {
    padding: 0px 55px !important;
  }
  @media only screen and (max-width: 767px) {
    padding: 0px 15px !important;
  }
  @media only screen and (max-width: 576px) {
    padding: 0px 8px !important;
    margin-bottom: 16px !important;
    height: 260px;
    .book-name {
      font-size: 13px !important;
    }
    .book-price {
      height: 37px !important;
      font-size: 16px !important;
      padding: 7px 12px 4px 10px !important;
    }
  }
  @media only screen and (max-width: 350px) {
    padding: 0px 5px !important;
    margin-bottom: 10px !important;
    height: 200px;
    .book-content {
      .book-content-head {
        i {
          font-size: 18px !important;
        }
      }
      .book-content-body {
        padding:5px !important ;
        .book-name {
          font-size: 11px !important;
        }
        .book-author{
          font-size: 11px !important;
        }
      }
      .book-content-footer {
        .book-watch{
          font-size: 11px!important;
        }
      }
    }

    .book-price {
      height: 30px !important;
      font-size: 14px !important;
      padding: 5px 8px 4px 8px !important;
    }
  }
}
