.login-modal {
  color: $light;
  .modal-dialog {
    max-width: unset !important;
    .login-register-content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .login-register-body {
        overflow: hidden;
        position: relative;
        width: 600px;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        .register-part-modal {
          transition: all 0.4s;
          opacity: 0;
          left: 50%;
          position: absolute;
          max-width: 600px;
          transform: translateX(50%);
          height: auto !important;
        }
        .login-part-modal {
          transition: all 0.4s;
          opacity: 1;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          max-width: 500px;
        }
        .modal-content {
          background-color: rgba(23, 13, 41, 0.767);
          height: 500px;
          .modal-body {
            padding-top: 40px !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            form {
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;
              font-size: 14px;
              font-weight: 550;
              .form-check {
                display: flex;
                input {
                  width: 15px;
                  margin-right: 10px;
                }
              }
              button {
                margin-bottom: 5px;
                border: none;
                color: $light;
                font-size: 14px;
                padding: 0.5rem 2.1rem;
                z-index: 5;
                text-transform: uppercase;
                font-weight: 500;
                background: $red;
                position: relative;
                overflow: hidden;
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 2px;
                  left: 1px;
                  border-color: transparent transparent transparent $light;
                  border-width: 20px 0 0 20px;
                  width: 0;
                  height: 0;
                  border-style: solid;
                }
                &::before {
                  content: "";
                  position: absolute;
                  top: 2px;
                  right: 2px;
                  border-color: transparent $light transparent transparent;
                  border-width: 0 20px 20px 0;
                  width: 0;
                  height: 0;
                  border-style: solid;
                }
              }
            }
            .reg-forgot {
              font-size: 14px;
              font-weight: 500;
              margin-top: 20px;
              button {
                color: white;
                background-color: transparent;
                border: none;
                @media only screen and (max-width: 350px) {
                  padding: 0px 8px !important;
                  font-size: 12px !important;
                }
                transition: ease 0.4s;
                padding: 0px 12px;
                &:hover {
                  color: $hover !important;
                  transition: ease 0.4s;
                }
              }
            }
            .login-soc {
              padding-top: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              a {
                margin-right: 10px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $light;
                text-align: center;
                padding: 15px 0px;
                color: $dark !important;
                i {
                  font-size: 22px;
                }
                @media only screen and (max-width: 350px) {
                  width: 40px !important;
                  height: 40px !important;
                  padding: 9px 0px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
