#nav-mobile-1 {
  display: none;
}
@media only screen and (max-width: 1200px) {
  #nav-mobile-1 {
    display: block !important;
    width: 280px;
    height: 100vh;
    background: rgba(23, 13, 41, 0.907);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100000000000000000000;
    transform: translateX(100%);
    transition: ease 0.7s;
    font-weight: 600;
    font-size: 18px;
    padding: 1rem 3rem 3.6rem 3.6rem;
    .nav-close-btn {
      margin-bottom: 18px;
      .close-btn {
        font-size: 30px;
      }
    }
    .languages-bar {
      margin-left: 10px;
      margin-bottom: 25px;
      font-size: 13px;
      .lang {
        span {
          margin-left: 5px;
          color: $light !important;
        }
        margin-right: 20px;
      }
    }
    .login {
      margin-bottom: 60px;
      a {
        padding: 0 10px;
      }
    }
    .navigation {
      margin-bottom: 50px;
      text-align: center;
      .nav-link2 {
        font-size: 20px;
        border-bottom: 2px solid $light;
      }
    }
    .icons-soc {
      .menu {
        padding: 0px;
        display: flex;
        justify-content: center;
        li {
          list-style: none;
          a {
            color: $light;
            display: block;
            position: relative;
            overflow: hidden;
            span {
              transition: transform 0.2s ease-out;
              &:last-child {
                display: inline-block;
                padding: 0px 10px;
                font-size: 22px;
              }
              &:first-child {
                font-weight: 550;
                font-size: 15px;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateX(-150%);
              }
              .fa-instagram-square {
                color: $instagram;
              }
              .fa-facebook-square {
                color: $facebook;
              }
              .fa-twitter-square {
                color: $twitter;
              }
            }
            &:hover {
              width: 82px;
              span {
                &:last-child {
                  transform: translateX(200%);
                }
              }
              span {
                &:first-child {
                  transform: none;
                }
              }
            }
          }
        }
      }
    }
    .text {
      text-align: center;
      color: $light;
      margin-bottom: 30px;
    }
  }
  #nav-mobile-1.show {
    transform: translateX(0%);
    transition: ease 0.7s;
  }
}
