#Profile {
  padding-top: 20px;
  .settings-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    .select-btn-holder {
      text-align: center;
    }
  }
  .settings-tab {
    .nav-link {
      background-color: $light !important;
      color: $dark !important;
    }
    .active {
      background-color: $dark !important;
      color: $light !important;
    }
  }
  .settings-content {
    .profile-img-holder {
      position: relative;
      &:hover {
        opacity: 0.7;
        .change-img-input-btn {
          .profile-icon {
            opacity: 0.5;
            z-index: 10000;
          }
        }
      }

      .profile-settings-image {
        overflow: hidden;
        border-radius: 10px;
      }
      .change-img-input-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        .profile-icon {
          color: $light;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 30px;
        }
      }
    }

    .profile-settings-image {
      img {
        width: 200px;
      }
    }
    label {
      font-size: 14px;
      font-family: sans-serif;
      font-weight: 700;
      color: #444;
      margin: 10px 0px 0px 12px;
    }
    .form-item {
      .image-select {
        width: 0;
        height: 0;
        overflow: hidden;
      }
    }
    .form-group {
      width: 100%;
      input {
        width: 100%;
        display: block;
        font-size: 14px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: 0.6em 0.5em 0.5em 0.8em;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
        border-radius: 0.5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
      }
    }
    .select-btn {
      cursor: pointer;
      margin: 0px;
      border: none;
      color: $light;
      font-size: 16px;
      padding: 5px 20px 5px 20px;
      z-index: 5;
      font-weight: 500;
      background: $red;
      position: relative;
      overflow: hidden;
      border-radius: 3px;
      &::after {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 2px;
        border-color: transparent transparent transparent $light;
        border-width: 18px 0 0 18px;
        width: 0;
        height: 0;
        border-style: solid;
      }
      &::before {
        content: "";
        position: absolute;
        top: 2px;
        right: 3px;
        border-color: transparent $light transparent transparent;
        border-width: 0 18px 18px 0;
        width: 0;
        height: 0;
        border-style: solid;
      }
    }
  }
  .profile {
    display: flex;
    align-items: center;
    padding: 40px 0;
    @media only screen and (max-width: 576px) {
      flex-direction: column;
      text-align: center;
      .profile-img {
        margin-bottom: 10px;
      }
    }
    .profile-img {
      margin-left: 10px;
      img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .profile-content {
      padding-left: 20px;
      font-weight: 700;
      .profile-name {
        font-size: 25px;
      }
      .profile-date {
        font-size: 15px;
      }
    }
  }
  .col-12 {
    margin-bottom: 50px;
    nav {
      @media only screen and (max-width: 576px) {
        display: flex;
        justify-content: center;
      }
      margin-bottom: 50px;
      .nav {
        padding: 8px 0px;
        border-top: 2px solid $red !important;
        border-bottom: 2px solid $red !important;
        a {
          border-radius: 5px;
          font-size: 16px;
          font-weight: 500;
          color: $dark !important;
          border: none !important;
        }
        a.active {
          background-color: $red !important;
          color: $light !important;
        }
        .nav-link.main-setting {
          @media only screen and (max-width: 600px) {
            width: 50% !important;
          }
          @media only screen and (max-width: 350px) {
            width: 100% !important;
            text-align: center;
          }
        }
      }
    }
    .tab-content {
      .tab-pane {
        .search {
          margin-bottom: 15px;
          i {
            font-size: 30px;
            color: $dark !important;
          }
        }
      }
    }
  }
  .messages {
    img {
      border-radius: 50%;
      object-fit: cover;
    }
    .col-md-4 {
      background-color: #0a0b0f;
      padding: 0px 2px 0px 0px;
      height: 600px;
      position: relative;
      @media only screen and (max-width: 767px) {
        height: 182px;
      }
    }
    .col-md-8 {
      @media only screen and (min-width: 768px) {
        border-left: 2px solid $light;
      }
      padding: 0px;
      height: 600px !important;
      background-color: #0a0b0f;
      position: relative;
    }
    .user {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-bottom: 2px solid #0a0b0f;

      .user-img {
        margin-right: 10px;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .user-name {
        color: $light;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .jrc {
      height: 500px !important;
      @media only screen and (min-width: 768px) {
        overflow-y: scroll;
      }
      @media only screen and (max-width: 767px) {
        height: 94px !important;
        .nav {
          overflow-x: auto;
          flex-direction: row !important;
          flex-wrap: nowrap;
        }
      }
      .nav {
        background-color: #0a0b0f;

        .nav-link {
          @media only screen and (min-width: 768px) {
            border-bottom: 2px solid $light;
          }
          .message-profile {
            @media only screen and (max-width: 767px) {
              flex-direction: column !important;
            padding: 6px !important;

            }
            padding: 18px;
            .profile-img {
              img {
                width: 40px;
                height: 40px;
              }
            }
            .message-content {
              padding: 0px 10px;
              @media only screen and (max-width: 767px) {
                margin-top: 5px;
              }
              .profile-name {
                font-size: 16px;
                font-weight: 700;
              }
              .last-message {
                @media only screen and (max-width: 767px) {
                  display: none;
                }
                font-size: 14px;
                font-weight: 700;
              }
            }
          }
        }
        .nav-link.active {
          background-color: #4f5857;
        }
      }
    }

    .tab-content {
      height: 100%;
      .tab-pane {
        height: 100%;
        .chat {
          height: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          padding-bottom: 60px;
          .chat-top {
            @media only screen and (max-width: 767px) {
              display: none !important;
            }
            padding: 20px;
            border-bottom: 2px solid $light;
            .profile-img {
              margin-right: 10px;
              img {
                width: 40px;
                height: 40px;
              }
            }
            .profile-name {
              color: $light;
              font-size: 16px;
              font-weight: 700;
            }
          }
          .chat-message {
            height: 100%;
            overflow-y: scroll;
            color: $light;
            font-weight: 700;
            font-size: 16px;
            .user-message {
              display: flex;
              align-items: center;
              .user-img {
                padding: 20px;
                margin: 0px 10px;
                img {
                  width: 40px;
                  height: 40px;
                }
              }
              .message {
                padding: 20px;
                margin: 10px;
                width: 55%;
                background-color: #4f5857;
                border-radius: 10px;
                position: relative;
                z-index: 2;
                &::after {
                  background-color: #4f5857;
                  position: absolute;
                  content: "";
                  top: 46%;
                  left: -14px;
                  width: 48px;
                  transform: rotate(45deg);
                  height: 21px;
                  z-index: -1;
                }
              }
            }
            .to-user-message {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              width: 100%;
              .user-img {
                margin: 0px 10px;
                padding: 20px;
                img {
                  width: 40px;
                  height: 40px;
                }
              }
              .message {
                margin: 10px;
                width: 55%;
                padding: 20px;
                background-color: #4f5857;
                border-radius: 10px;
                text-align: left;
                position: relative;
                z-index: 1;
                &::after {
                  background-color: #4f5857;
                  position: absolute;
                  content: "";
                  top: 46%;
                  right: -14px;
                  width: 48px;
                  transform: rotate(-45deg);
                  height: 21px;
                  z-index: -1;
                }
              }
            }
          }
        }
        .chat-bottom {
          position: absolute;
          bottom: 0;
          border-top: 2px solid $light;
          height: 60px;
          width: 100%;
          display: flex;
          align-items: center;
          input {
            height: 40px;
            margin-left: 20px;
            width: calc(100% - 100px);
          }
          a {
            cursor: pointer;
            margin-left: 20px;
            i {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}
