.section-head {
  
    h1 {
      font-weight: 500;
      position: relative;
      margin-bottom: 70px;
      @media only screen and (max-width: 576px){
        font-size: 20px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 4px;
        top: 55px;
        left: 50%;
        background: linear-gradient(
          90deg,
          #861703 0%,
          rgb(65, 58, 58) 50%,
          #05052c 100%
        );
        transform: translateX(-50%);
      }
    }
  }