.announcement {
  top: 170px !important;

  svg {
    fill: white;
    width: 31px;
    height: auto;
  }
}
.announcement2 {
  top: 235px !important;
  a{
    height: 58px;

  }
}
.select-holder {
  display: flex;
  align-items: center;
  position: fixed;
  top: 300px;
  right: 0;
  transform: translateX(400px);
  z-index: 151515;
  a {
    width: 52px;
    height: 58px;
    line-height: 58px;
    white-space: nowrap;
    z-index: 666;
    background-color: $dark;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    i {
      font-size: 30px;
      line-height: 61px;
      color: $light;
    }
  }
  .selected-box {
    width: 0px;
    background-color: $dark;
    transition: ease 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $light;
    a {
      width: 0px;
      transition: 0.5s;
      background-color: transparent;
      font-size: 13px !important;
    }
  }
  .selected-box.show {
    transition: ease 0.5s;
    width: 150px;
  }
  @media only screen and (max-width: 1150px) {
    display: none;
  }
}
