@media only screen and (max-width: 1200px) {
  header {
    .header-bar {
      .container-fluid {
        .row {
          .header-bar-left.none {
            display: none !important;
          }
          .header-bar-center {
            flex: 0 0 33%;
            max-width: 33%;
          }
          .header-bar-right {
            flex: 0 0 66%;
            max-width: 66%;
          }
          
        }
      }
    }
    nav {
      .navigation {
        display: none !important;
      }
      .button-nav {
        display: block;
      }
    }
    nav.nav-scroll {
      height: 60px !important;
      .navbar-brand {
        width: 280px;
        .page-name {
          font-size: 16px;
          padding-right: 0px;
        }
      }
      .button-nav {
        color: $dark;
      }
    }
  }
  footer {
    .partners {
      display: none !important;
    }
  }
}
