@media only screen and (max-width: 576px) {
  header {
    nav {
      .navbar-brand {
        width: 208px !important;
        .nav-logo {
          width: 40px;
          height: 26px;
        }
        .page-name {
          font-size: 21px !important;
          padding-right: 0px;
        }
      }
      .button-nav {
        width: 55px;
      }
    }
    nav.nav-scroll {
      height: 50px !important;
      .navbar-brand {
        .page-name {
          font-size: 14px !important;
          padding-right: 0px;
        }
      }
    }
    .header-content {
      .col-6 {
        .header-filter {
          width: 349px;
          form {
            padding: 0px 10px;
            margin: 10px 10px;
            select{
              height: 36px !important;
            }
            h3{
              font-size: 21px !important;
            }
            .anns-btn{
              padding: 7px 26px 4px 26px !important;
            }
            .label {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  footer {
    min-height: 870px;
    &::after {
      min-height: 870px;
    }
    #contact-col {
      order: 3;
    }
    #thanks-col {
      order: 1;
    }
    #spec-thanks-col {
      order: 2;
    }
    #jrc-col {
      order: 4;
    }
    .col-lg-3 {
      display: flex;
      justify-content: center;
    }
    .footer-logo {
      img {
        margin-left: 0px;
      }
      .by-jrc {
        font-size: 12px;
      }
    }
  }
}
