@media only screen and (max-width: 992px) { 
  header {
    .header-bar {
        height: 60px;
      .container-fluid {
        .row {
            
          .header-bar-left.show {
            margin-left:15px ;
            padding-top: 10px;
            width: 115px;
            display: flex !important;
          }
          .header-bar-center {
            padding-top: 10px;
            flex: 0 0 calc(100% - 130px);
            max-width: calc(100% - 130px);
            padding-right: 5px !important;
          }
          .header-bar-right {
            display: none !important;
          }
        }
      }
    }
    .header-content {
      .col-6.show {
        display: none !important;
      }
    }
  }
  footer {
    min-height: 470px;
    padding-top: 50px;
    &::after {
      min-height: 470px;
    }
    #contact-col {
      order: 2;
    }
    #thanks-col {
      order: 1;
    }
    #spec-thanks-col {
      order: 3;
    }
    #jrc-col {
      order: 4;
    }
    .footer-logo {
      margin-top: 0px;
      padding-bottom: 50px;
      flex-direction: column;
      align-items: flex-start !important;
      img {
        margin-top: 20px;
        margin-left: 70px;
      }
      .by-jrc {
        font-size: 13px;
        margin-top: 20px;
      }
    }
  }
}
